.nav {
  position: sticky; /* o fixed, si quieres que esté siempre visible incluso al hacer scroll */
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  background-color: transparent; /* fondo con opacidad */
  backdrop-filter: blur(10px); /* 💫 el blur mágico */
  -webkit-backdrop-filter: blur(10px); /* soporte Safari */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* opcional: borde sutil */
}

.logoNav {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
}

.logoNav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  background-color: transparent;
}

.logoNav ul li a {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
  background-color: transparent;
}

.logoNav ul li a:hover {
  color: #00d8ff; /* o tu color primario */
  background-color: transparent;
}

.searchProfile {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
}

.searchIcon {
    background-color: transparent;
}
