.nav {
  position: sticky; /* o fixed, si quieres que esté siempre visible incluso al hacer scroll */
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  background-color: transparent; /* fondo con opacidad */
  backdrop-filter: blur(10px); /* 💫 el blur mágico */
  -webkit-backdrop-filter: blur(10px); /* soporte Safari */
  border-bottom: 1px solid var(--navbar-border-color); /* opcional: borde sutil */
}

.logoNav {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: transparent;
}

.logoNav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  background-color: transparent;
}

.logoNav ul li a {
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
  background-color: transparent;
}

.logoNav ul li a:hover {
  color: var(--primary-color); /* o tu color primario */
  background-color: transparent;
}

.searchProfile {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
}

.searchIcon {
  background-color: transparent;
}

a {
  background-color: transparent;
}

.desktopLinks { 
  display: flex;
}


/* Botón hamburguesa */
.menuIcon {
  display: none;
  cursor: pointer;
  color: var(--text-color);
}

/* Menú móvil */
.mobileMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--mobile-menu-bg);
  backdrop-filter: blur(10px);
  padding: 1rem;
  flex-direction: column;
  gap: 1.5rem;
  border-bottom: 1px solid var(--navbar-border-color);
  justify-content: center;

  ul {
    position: relative;
    display: flex;
    flex-direction: column;
    
  }

  li {
    padding: 1rem;
    margin: auto;
    
  }

  a{
    font-weight: bold;
    justify-content: center;
  }
}

.mobileButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .logoNav {
    img {
      width: 150px;
    }

    .desktopLinks {
      display: none;
    }
  }

  .searchProfile {
    display: none;
  }

  .menuIcon {
    display: block;
  }

  .mobileMenu {
    display: flex;
  }

  .box {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra el SearchBox dentro de su contenedor */
    margin: 1rem 0;
  }
}
