.footer {
  width: 100%; /* evita scroll lateral por 100vw */
  padding: 16px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #09093b;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #09093b; 
  padding: 0.5rem 0;
  margin: 0;
}

.footer-logo {
  width: 120px;
  height: auto;
  background-color: #09093b; 
  margin: 0;
}

.footer-text {
  font-size: 0.9rem;
  color: var(--text-color);
  text-decoration: none;
  background-color: #09093b; 
  margin: 0;
}



